<html>

<head>
	<!--jquery-->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<!--bootstrap-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>
	<!--end_bootstrap-->
	<style>
		.outer {
			margin-top: 10px;
		}

		.my_class {
			width: 200px;
			height: 200px;
			background-color: yellow;
			display: inline-block;
			padding-left: 10px;
			padding-top: 10px;
			margin-right: 10px;
			vertical-align: top;
		}

		.my_class>.date {
			background-color: red;
			color: white;
		}

		.my_class>.content {
			background-color: blue;
			color: white;
		}
	</style>
</head>

<body>
	<script>
		// var myModal = document.getElementById('myModal')
		// var myInput = document.getElementById('myInput')

		function hello() {
			var indexOfChild = $("#my_date").val() - 1;
			var addedItem = "<div class='content' onclick='openModal(this)'>" + $("#my_input").val() + "</div>";
			var selectedContainer = $($(".outer").children()[indexOfChild]);
			selectedContainer.append(addedItem);
		}
		function checkthisout(obj) {
			console.log(obj);
		}
		function checkparent(obj) {
			console.log($(obj).parent());
		}
		function openModal(obj){
			var itemText=$(obj).text();
			console.log(itemText);

			// 양배추갖고오기
			$("#ingredient-name").val(itemText);
			$("#exampleModal").modal("show");
		}
		function removeItem(obj){
			// alert(obj + "clicked");
			// $(obj).remove();
			// $(obj).text("hey");

		}
		function saveChange(obj){
			// alert(obj + "clicked");
			// $(obj).remove();
			// $(obj).text("hey");

		}
	</script>
	<h1>우리집 냉장고 관리</h1>
	<!-- Button trigger modal -->


	<a href="#" onclick="openModal(this)">Launch Modal</a>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form>
					  <div class="mb-3">
						<label for="ingredient-name" class="col-form-label">ingredient:</label>
						<input type="text" class="form-control" id="ingredient-name">
					  </div>
					  <!-- <div class="mb-3">
						<label for="store-period" class="col-form-label">store:</label>
						<input type="text" class="form-control" id="store-period">
					  </div> -->
					</form>
				  </div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" onclick="removeItem()">Remove</button>
					<button type="button" class="btn btn-primary" onclick="saveChange()">Save change</button>
				</div>
			</div>
		</div>
	</div>
	<br>
	<!--my contents-->
	<input type="text" id="my_date" placeholder="최대 보관날짜">
	<input type="text" id="my_input" placeholder="식자재명">

	<button onclick="hello();">재고 추가</button>
	<!-- <span onclick="checkthisout(this);">this확인</span>
		<a onclick="checkthisout(this);">this확인</a> -->

	<div class="outer">
		<div id="cal_1" class="my_class">
			<div class="date" onclick="checkparent(this)">1일</div>
		</div>

		<div id="cal_2" class="my_class">
			<div class="date">2일</div>
		</div>

		<div id="cal_3" class="my_class">
			<div class="date">3일</div>
		</div>
	</div>
</body>

</html>